In [1]:
# Import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import numpy as np
#  Import and read the owid-covid-data.csv.
loc_df = pd.read_csv("loc_df.csv")
loc_df.head()

   Unnamed: 0     location                                           vaccines
0           0  Afghanistan  Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...
1           1      Albania  Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...
2           2      Algeria   Oxford/AstraZeneca, Sinopharm/Beijing, Sputnik V
3           3      Andorra                Oxford/AstraZeneca, Pfizer/BioNTech
4           4       Angola                                 Oxford/AstraZeneca

In [2]:
# Drop the vaccination column from loc_df.
loc_df= loc_df.drop(['Unnamed: 0'],axis = 1)
loc_df.head()

      location                                           vaccines
0  Afghanistan  Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...
1      Albania  Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...
2      Algeria   Oxford/AstraZeneca, Sinopharm/Beijing, Sputnik V
3      Andorra                Oxford/AstraZeneca, Pfizer/BioNTech
4       Angola                                 Oxford/AstraZeneca

In [3]:
# Drop the vaccination column from loc_df.
loc_df= loc_df.drop(['location'],axis = 1)
loc_df.head()

                                            vaccines
0  Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...
1  Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...
2   Oxford/AstraZeneca, Sinopharm/Beijing, Sputnik V
3                Oxford/AstraZeneca, Pfizer/BioNTech
4                                 Oxford/AstraZeneca

In [6]:
# Join every string in every row, split the result, pull out the unique values.
vaccine = np.unique(', '.join(loc_df['vaccines']).split(', '))
# Drop 'None'
vaccine = np.delete(vaccine, np.where(vaccine == 'None'))

In [8]:
# One hot for loop...
for vax in vaccine:
    loc_df[vax] = loc_df['vaccines'].str.contains(vax).astype('int')

loc_df.drop('vaccines', axis=1, inplace=True)
loc_df

,Abdala,COVIran Barekat,CanSino,Covaxin,EpiVacCorona,Johnson&Johnson,Medigen,Moderna,Oxford/AstraZeneca,Pfizer/BioNTech,QazVac,Sinopharm/Beijing,Sinopharm/HayatVax,Sinopharm/Wuhan,Sinovac,Soberana02,Sputnik V,ZF2001
0,0,0,0,0,0,1,0,0,1,1,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,1,0,1,0
2,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0
218,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
219,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0
220,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0
221,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,1,0

In [9]:
loc_df.to_csv("vax_loc_onehot.csv")