In [1]:
# Import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the owid-covid-data.csv.
import pandas as pd 
owid_df = pd.read_csv("owid-covid-data.csv")
owid_df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN

In [2]:
owid_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114990,ZWE,Africa,Zimbabwe,2021-09-02,125118.0,158.0,161.714,4449.0,11.0,13.286,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
114991,ZWE,Africa,Zimbabwe,2021-09-03,125331.0,213.0,156.429,4457.0,8.0,11.857,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
114992,ZWE,Africa,Zimbabwe,2021-09-04,125425.0,94.0,151.143,4466.0,9.0,10.857,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
114993,ZWE,Africa,Zimbabwe,2021-09-05,125550.0,125.0,159.000,4482.0,16.0,11.571,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
114994,ZWE,Africa,Zimbabwe,2021-09-06,125671.0,121.0,155.714,4493.0,11.0,11.000,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN

In [3]:
owid_df.nunique()

iso_code                        233
continent                         6
location                        233
date                            615
total_cases                   62052
                              ...
handwashing_facilities           96
hospital_beds_per_thousand      101
life_expectancy                 207
human_development_index         154
excess_mortality               2880
Length: 62, dtype: int64

In [4]:
# Convert the date to datetime64
owid_df['date'] = pd.to_datetime(owid_df['date'], format='%Y-%m-%d')

filtered_df = owid_df.loc[(owid_df['date'] > '2021-08-30')
                     & (owid_df['date'] < '2021-09-01')]
# Display
filtered_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
554,AFG,Asia,Afghanistan,2021-08-31,153220.0,72.0,80.000,7118.0,2.0,5.000,...,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.511,NaN
1126,OWID_AFR,NaN,Africa,2021-08-31,7790394.0,22708.0,29072.286,196278.0,779.0,785.714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1686,ALB,Europe,Albania,2021-08-31,146387.0,1054.0,838.000,2498.0,3.0,2.571,...,1.1,304.195,10.08,7.100,51.200,NaN,2.890,78.57,0.795,NaN
2246,DZA,Africa,Algeria,2021-08-31,196080.0,506.0,493.429,5269.0,29.0,29.429,...,0.5,278.364,6.73,0.700,30.400,83.741,1.900,76.88,0.748,NaN
2800,AND,Europe,Andorra,2021-08-31,15033.0,1.0,4.286,130.0,0.0,0.000,...,NaN,109.135,7.97,29.000,37.800,NaN,NaN,83.73,0.868,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112811,WLF,Oceania,Wallis and Futuna,2021-08-31,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.94,NaN,NaN
113399,OWID_WRL,NaN,World,2021-08-31,217708315.0,588450.0,643144.571,4519436.0,9014.0,9536.000,...,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,0.737,NaN
113914,YEM,Asia,Yemen,2021-08-31,7869.0,40.0,41.286,1472.0,3.0,6.857,...,18.8,495.003,5.35,7.600,29.200,49.542,0.700,66.12,0.470,NaN
114452,ZMB,Africa,Zambia,2021-08-31,206327.0,182.0,192.857,3602.0,3.0,2.714,...,57.5,234.499,3.94,3.100,24.700,13.938,2.000,63.89,0.584,NaN
114988,ZWE,Africa,Zimbabwe,2021-08-31,124773.0,192.0,207.571,4419.0,3.0,14.143,...,21.4,307.846,1.82,1.600,30.700,36.791,1.700,61.49,0.571,NaN

In [5]:
filtered_df.nunique()

iso_code                      224
continent                       6
location                      224
date                            1
total_cases                   200
                             ...
handwashing_facilities         95
hospital_beds_per_thousand    100
life_expectancy               200
human_development_index       154
excess_mortality                0
Length: 62, dtype: int64

In [6]:
nan_value = float("NaN")
filtered_df.replace(0, nan_value, inplace=True)
filtered_df.replace("", nan_value, inplace=True)
  
filtered_df.dropna(how='all', axis=1, inplace=True)
  
# show the dataframe
display(filtered_df)

C:\Users\clmin\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4530: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,
C:\Users\clmin\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
554,AFG,Asia,Afghanistan,2021-08-31,153220.0,72.0,80.000,7118.0,2.0,5.000,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.511
1126,OWID_AFR,NaN,Africa,2021-08-31,7790394.0,22708.0,29072.286,196278.0,779.0,785.714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1686,ALB,Europe,Albania,2021-08-31,146387.0,1054.0,838.000,2498.0,3.0,2.571,...,11803.431,1.1,304.195,10.08,7.100,51.200,NaN,2.890,78.57,0.795
2246,DZA,Africa,Algeria,2021-08-31,196080.0,506.0,493.429,5269.0,29.0,29.429,...,13913.839,0.5,278.364,6.73,0.700,30.400,83.741,1.900,76.88,0.748
2800,AND,Europe,Andorra,2021-08-31,15033.0,1.0,4.286,130.0,NaN,NaN,...,NaN,NaN,109.135,7.97,29.000,37.800,NaN,NaN,83.73,0.868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112811,WLF,Oceania,Wallis and Futuna,2021-08-31,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.94,NaN
113399,OWID_WRL,NaN,World,2021-08-31,217708315.0,588450.0,643144.571,4519436.0,9014.0,9536.000,...,15469.207,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,0.737
113914,YEM,Asia,Yemen,2021-08-31,7869.0,40.0,41.286,1472.0,3.0,6.857,...,1479.147,18.8,495.003,5.35,7.600,29.200,49.542,0.700,66.12,0.470
114452,ZMB,Africa,Zambia,2021-08-31,206327.0,182.0,192.857,3602.0,3.0,2.714,...,3689.251,57.5,234.499,3.94,3.100,24.700,13.938,2.000,63.89,0.584
114988,ZWE,Africa,Zimbabwe,2021-08-31,124773.0,192.0,207.571,4419.0,3.0,14.143,...,1899.775,21.4,307.846,1.82,1.600,30.700,36.791,1.700,61.49,0.571

In [8]:
# Drop the non-beneficial ID columns, 'iso_code' and 'NAME'.
filtered_df = filtered_df.drop(['iso_code', 'date'],axis = 1)
filtered_df.head()

,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
554,Asia,Afghanistan,153220.0,72.0,80.000,7118.0,2.0,5.000,3846.325,1.807,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.50,64.83,0.511
1126,NaN,Africa,7790394.0,22708.0,29072.286,196278.0,779.0,785.714,5671.985,16.533,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1686,Europe,Albania,146387.0,1054.0,838.000,2498.0,3.0,2.571,50953.833,366.872,...,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795
2246,Africa,Algeria,196080.0,506.0,493.429,5269.0,29.0,29.429,4394.774,11.341,...,13913.839,0.5,278.364,6.73,0.7,30.4,83.741,1.90,76.88,0.748
2800,Europe,Andorra,15033.0,1.0,4.286,130.0,NaN,NaN,194340.306,12.928,...,NaN,NaN,109.135,7.97,29.0,37.8,NaN,NaN,83.73,0.868

In [9]:
filtered_df.to_csv("owid-covid-data_filtered.csv")