In [1]:
# Import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the owid-covid-data.csv.
import pandas as pd 
owid_df = pd.read_csv("owid-covid-data.csv")
owid_df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN

In [2]:
owid_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114990,ZWE,Africa,Zimbabwe,2021-09-02,125118.0,158.0,161.714,4449.0,11.0,13.286,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
114991,ZWE,Africa,Zimbabwe,2021-09-03,125331.0,213.0,156.429,4457.0,8.0,11.857,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
114992,ZWE,Africa,Zimbabwe,2021-09-04,125425.0,94.0,151.143,4466.0,9.0,10.857,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
114993,ZWE,Africa,Zimbabwe,2021-09-05,125550.0,125.0,159.000,4482.0,16.0,11.571,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
114994,ZWE,Africa,Zimbabwe,2021-09-06,125671.0,121.0,155.714,4493.0,11.0,11.000,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN

In [3]:
owid_df.nunique()

iso_code                        233
continent                         6
location                        233
date                            615
total_cases                   62052
                              ...
handwashing_facilities           96
hospital_beds_per_thousand      101
life_expectancy                 207
human_development_index         154
excess_mortality               2880
Length: 62, dtype: int64

In [4]:
# Convert the date to datetime64
owid_df['date'] = pd.to_datetime(owid_df['date'], format='%Y-%m-%d')

filtered_df = owid_df.loc[(owid_df['date'] > '2021-08-30')
                     & (owid_df['date'] < '2021-09-01')]
# Display
filtered_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
554,AFG,Asia,Afghanistan,2021-08-31,153220.0,72.0,80.000,7118.0,2.0,5.000,...,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.511,NaN
1126,OWID_AFR,NaN,Africa,2021-08-31,7790394.0,22708.0,29072.286,196278.0,779.0,785.714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1686,ALB,Europe,Albania,2021-08-31,146387.0,1054.0,838.000,2498.0,3.0,2.571,...,1.1,304.195,10.08,7.100,51.200,NaN,2.890,78.57,0.795,NaN
2246,DZA,Africa,Algeria,2021-08-31,196080.0,506.0,493.429,5269.0,29.0,29.429,...,0.5,278.364,6.73,0.700,30.400,83.741,1.900,76.88,0.748,NaN
2800,AND,Europe,Andorra,2021-08-31,15033.0,1.0,4.286,130.0,0.0,0.000,...,NaN,109.135,7.97,29.000,37.800,NaN,NaN,83.73,0.868,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112811,WLF,Oceania,Wallis and Futuna,2021-08-31,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.94,NaN,NaN
113399,OWID_WRL,NaN,World,2021-08-31,217708315.0,588450.0,643144.571,4519436.0,9014.0,9536.000,...,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,0.737,NaN
113914,YEM,Asia,Yemen,2021-08-31,7869.0,40.0,41.286,1472.0,3.0,6.857,...,18.8,495.003,5.35,7.600,29.200,49.542,0.700,66.12,0.470,NaN
114452,ZMB,Africa,Zambia,2021-08-31,206327.0,182.0,192.857,3602.0,3.0,2.714,...,57.5,234.499,3.94,3.100,24.700,13.938,2.000,63.89,0.584,NaN
114988,ZWE,Africa,Zimbabwe,2021-08-31,124773.0,192.0,207.571,4419.0,3.0,14.143,...,21.4,307.846,1.82,1.600,30.700,36.791,1.700,61.49,0.571,NaN

In [5]:
filtered_df.nunique()

iso_code                      224
continent                       6
location                      224
date                            1
total_cases                   200
                             ...
handwashing_facilities         95
hospital_beds_per_thousand    100
life_expectancy               200
human_development_index       154
excess_mortality                0
Length: 62, dtype: int64

In [6]:
nan_value = float("NaN")
filtered_df.replace(0, nan_value, inplace=True)
filtered_df.replace("", nan_value, inplace=True)
  
filtered_df.dropna(how='all', axis=1, inplace=True)
  
# show the dataframe
display(filtered_df)

C:\Users\OG.000\.conda\envs\mlenv\lib\site-packages\pandas\core\frame.py:4530: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,
C:\Users\OG.000\.conda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
554,AFG,Asia,Afghanistan,2021-08-31,153220.0,72.0,80.000,7118.0,2.0,5.000,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.511
1126,OWID_AFR,NaN,Africa,2021-08-31,7790394.0,22708.0,29072.286,196278.0,779.0,785.714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1686,ALB,Europe,Albania,2021-08-31,146387.0,1054.0,838.000,2498.0,3.0,2.571,...,11803.431,1.1,304.195,10.08,7.100,51.200,NaN,2.890,78.57,0.795
2246,DZA,Africa,Algeria,2021-08-31,196080.0,506.0,493.429,5269.0,29.0,29.429,...,13913.839,0.5,278.364,6.73,0.700,30.400,83.741,1.900,76.88,0.748
2800,AND,Europe,Andorra,2021-08-31,15033.0,1.0,4.286,130.0,NaN,NaN,...,NaN,NaN,109.135,7.97,29.000,37.800,NaN,NaN,83.73,0.868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112811,WLF,Oceania,Wallis and Futuna,2021-08-31,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.94,NaN
113399,OWID_WRL,NaN,World,2021-08-31,217708315.0,588450.0,643144.571,4519436.0,9014.0,9536.000,...,15469.207,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,0.737
113914,YEM,Asia,Yemen,2021-08-31,7869.0,40.0,41.286,1472.0,3.0,6.857,...,1479.147,18.8,495.003,5.35,7.600,29.200,49.542,0.700,66.12,0.470
114452,ZMB,Africa,Zambia,2021-08-31,206327.0,182.0,192.857,3602.0,3.0,2.714,...,3689.251,57.5,234.499,3.94,3.100,24.700,13.938,2.000,63.89,0.584
114988,ZWE,Africa,Zimbabwe,2021-08-31,124773.0,192.0,207.571,4419.0,3.0,14.143,...,1899.775,21.4,307.846,1.82,1.600,30.700,36.791,1.700,61.49,0.571

In [7]:
# Drop the non-beneficial ID columns, 'iso_code' and 'NAME'.
filtered_df = filtered_df.drop(['iso_code', 'date','continent'],axis = 1)
filtered_df.head()

,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
554,Afghanistan,153220.0,72.0,80.000,7118.0,2.0,5.000,3846.325,1.807,2.008,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.50,64.83,0.511
1126,Africa,7790394.0,22708.0,29072.286,196278.0,779.0,785.714,5671.985,16.533,21.167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1686,Albania,146387.0,1054.0,838.000,2498.0,3.0,2.571,50953.833,366.872,291.688,...,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795
2246,Algeria,196080.0,506.0,493.429,5269.0,29.0,29.429,4394.774,11.341,11.059,...,13913.839,0.5,278.364,6.73,0.7,30.4,83.741,1.90,76.88,0.748
2800,Andorra,15033.0,1.0,4.286,130.0,NaN,NaN,194340.306,12.928,55.404,...,NaN,NaN,109.135,7.97,29.0,37.8,NaN,NaN,83.73,0.868

In [8]:
filtered_df.to_csv("owid-covid-data_filtered.csv")

In [9]:
# Drop the non-beneficial ID columns, 'continent'.
filtered_df = filtered_df.drop(['continent'],axis = 1)
filtered_df.head()

KeyError: "['continent'] not found in axis"

In [10]:
filtered_df.head(224)

,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
554,Afghanistan,153220.0,72.0,80.000,7118.0,2.0,5.000,3846.325,1.807,2.008,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.511
1126,Africa,7790394.0,22708.0,29072.286,196278.0,779.0,785.714,5671.985,16.533,21.167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1686,Albania,146387.0,1054.0,838.000,2498.0,3.0,2.571,50953.833,366.872,291.688,...,11803.431,1.1,304.195,10.08,7.100,51.200,NaN,2.890,78.57,0.795
2246,Algeria,196080.0,506.0,493.429,5269.0,29.0,29.429,4394.774,11.341,11.059,...,13913.839,0.5,278.364,6.73,0.700,30.400,83.741,1.900,76.88,0.748
2800,Andorra,15033.0,1.0,4.286,130.0,NaN,NaN,194340.306,12.928,55.404,...,NaN,NaN,109.135,7.97,29.000,37.800,NaN,NaN,83.73,0.868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112811,Wallis and Futuna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.94,NaN
113399,World,217708315.0,588450.0,643144.571,4519436.0,9014.0,9536.000,27645.621,74.724,81.670,...,15469.207,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,0.737
113914,Yemen,7869.0,40.0,41.286,1472.0,3.0,6.857,258.079,1.312,1.354,...,1479.147,18.8,495.003,5.35,7.600,29.200,49.542,0.700,66.12,0.470
114452,Zambia,206327.0,182.0,192.857,3602.0,3.0,2.714,10904.854,9.619,10.193,...,3689.251,57.5,234.499,3.94,3.100,24.700,13.938,2.000,63.89,0.584
114988,Zimbabwe,124773.0,192.0,207.571,4419.0,3.0,14.143,8267.399,12.722,13.754,...,1899.775,21.4,307.846,1.82,1.600,30.700,36.791,1.700,61.49,0.571

In [11]:
filtered_df.dtypes

location                                  object
total_cases                              float64
new_cases                                float64
new_cases_smoothed                       float64
total_deaths                             float64
new_deaths                               float64
new_deaths_smoothed                      float64
total_cases_per_million                  float64
new_cases_per_million                    float64
new_cases_smoothed_per_million           float64
total_deaths_per_million                 float64
new_deaths_per_million                   float64
new_deaths_smoothed_per_million          float64
reproduction_rate                        float64
icu_patients                             float64
icu_patients_per_million                 float64
hosp_patients                            float64
hosp_patients_per_million                float64
new_tests                                float64
total_tests                              float64
total_tests_per_thousand                 float64
new_tests_per_thousand                   float64
new_tests_smoothed                       float64
new_tests_smoothed_per_thousand          float64
positive_rate                            float64
tests_per_case                           float64
tests_units                               object
total_vaccinations                       float64
people_vaccinated                        float64
people_fully_vaccinated                  float64
total_boosters                           float64
new_vaccinations                         float64
new_vaccinations_smoothed                float64
total_vaccinations_per_hundred           float64
people_vaccinated_per_hundred            float64
people_fully_vaccinated_per_hundred      float64
total_boosters_per_hundred               float64
new_vaccinations_smoothed_per_million    float64
stringency_index                         float64
population                               float64
population_density                       float64
median_age                               float64
aged_65_older                            float64
aged_70_older                            float64
gdp_per_capita                           float64
extreme_poverty                          float64
cardiovasc_death_rate                    float64
diabetes_prevalence                      float64
female_smokers                           float64
male_smokers                             float64
handwashing_facilities                   float64
hospital_beds_per_thousand               float64
life_expectancy                          float64
human_development_index                  float64
dtype: object

In [12]:
# Drop a row by condition
filtered_df[filtered_df.location != 'OWID']

,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
554,Afghanistan,153220.0,72.0,80.000,7118.0,2.0,5.000,3846.325,1.807,2.008,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.511
1126,Africa,7790394.0,22708.0,29072.286,196278.0,779.0,785.714,5671.985,16.533,21.167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1686,Albania,146387.0,1054.0,838.000,2498.0,3.0,2.571,50953.833,366.872,291.688,...,11803.431,1.1,304.195,10.08,7.100,51.200,NaN,2.890,78.57,0.795
2246,Algeria,196080.0,506.0,493.429,5269.0,29.0,29.429,4394.774,11.341,11.059,...,13913.839,0.5,278.364,6.73,0.700,30.400,83.741,1.900,76.88,0.748
2800,Andorra,15033.0,1.0,4.286,130.0,NaN,NaN,194340.306,12.928,55.404,...,NaN,NaN,109.135,7.97,29.000,37.800,NaN,NaN,83.73,0.868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112811,Wallis and Futuna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.94,NaN
113399,World,217708315.0,588450.0,643144.571,4519436.0,9014.0,9536.000,27645.621,74.724,81.670,...,15469.207,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,0.737
113914,Yemen,7869.0,40.0,41.286,1472.0,3.0,6.857,258.079,1.312,1.354,...,1479.147,18.8,495.003,5.35,7.600,29.200,49.542,0.700,66.12,0.470
114452,Zambia,206327.0,182.0,192.857,3602.0,3.0,2.714,10904.854,9.619,10.193,...,3689.251,57.5,234.499,3.94,3.100,24.700,13.938,2.000,63.89,0.584
114988,Zimbabwe,124773.0,192.0,207.571,4419.0,3.0,14.143,8267.399,12.722,13.754,...,1899.775,21.4,307.846,1.82,1.600,30.700,36.791,1.700,61.49,0.571

In [13]:
# Drop all rows with NaNs in total_cases
filtered_df.dropna(subset=['total_cases'])

,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
554,Afghanistan,153220.0,72.0,80.000,7118.0,2.0,5.000,3846.325,1.807,2.008,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.511
1126,Africa,7790394.0,22708.0,29072.286,196278.0,779.0,785.714,5671.985,16.533,21.167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1686,Albania,146387.0,1054.0,838.000,2498.0,3.0,2.571,50953.833,366.872,291.688,...,11803.431,1.1,304.195,10.08,7.100,51.200,NaN,2.890,78.57,0.795
2246,Algeria,196080.0,506.0,493.429,5269.0,29.0,29.429,4394.774,11.341,11.059,...,13913.839,0.5,278.364,6.73,0.700,30.400,83.741,1.900,76.88,0.748
2800,Andorra,15033.0,1.0,4.286,130.0,NaN,NaN,194340.306,12.928,55.404,...,NaN,NaN,109.135,7.97,29.000,37.800,NaN,NaN,83.73,0.868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112643,Vietnam,462096.0,12607.0,13261.286,11064.0,NaN,292.857,4707.156,128.422,135.087,...,6171.884,2.0,245.465,6.00,1.000,45.900,85.847,2.600,75.40,0.704
113399,World,217708315.0,588450.0,643144.571,4519436.0,9014.0,9536.000,27645.621,74.724,81.670,...,15469.207,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,0.737
113914,Yemen,7869.0,40.0,41.286,1472.0,3.0,6.857,258.079,1.312,1.354,...,1479.147,18.8,495.003,5.35,7.600,29.200,49.542,0.700,66.12,0.470
114452,Zambia,206327.0,182.0,192.857,3602.0,3.0,2.714,10904.854,9.619,10.193,...,3689.251,57.5,234.499,3.94,3.100,24.700,13.938,2.000,63.89,0.584
114988,Zimbabwe,124773.0,192.0,207.571,4419.0,3.0,14.143,8267.399,12.722,13.754,...,1899.775,21.4,307.846,1.82,1.600,30.700,36.791,1.700,61.49,0.571

In [14]:
# Drop a row by condition
filtered_df[filtered_df.location != 'Asia']

,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
554,Afghanistan,153220.0,72.0,80.000,7118.0,2.0,5.000,3846.325,1.807,2.008,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.511
1126,Africa,7790394.0,22708.0,29072.286,196278.0,779.0,785.714,5671.985,16.533,21.167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1686,Albania,146387.0,1054.0,838.000,2498.0,3.0,2.571,50953.833,366.872,291.688,...,11803.431,1.1,304.195,10.08,7.100,51.200,NaN,2.890,78.57,0.795
2246,Algeria,196080.0,506.0,493.429,5269.0,29.0,29.429,4394.774,11.341,11.059,...,13913.839,0.5,278.364,6.73,0.700,30.400,83.741,1.900,76.88,0.748
2800,Andorra,15033.0,1.0,4.286,130.0,NaN,NaN,194340.306,12.928,55.404,...,NaN,NaN,109.135,7.97,29.000,37.800,NaN,NaN,83.73,0.868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112811,Wallis and Futuna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.94,NaN
113399,World,217708315.0,588450.0,643144.571,4519436.0,9014.0,9536.000,27645.621,74.724,81.670,...,15469.207,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,0.737
113914,Yemen,7869.0,40.0,41.286,1472.0,3.0,6.857,258.079,1.312,1.354,...,1479.147,18.8,495.003,5.35,7.600,29.200,49.542,0.700,66.12,0.470
114452,Zambia,206327.0,182.0,192.857,3602.0,3.0,2.714,10904.854,9.619,10.193,...,3689.251,57.5,234.499,3.94,3.100,24.700,13.938,2.000,63.89,0.584
114988,Zimbabwe,124773.0,192.0,207.571,4419.0,3.0,14.143,8267.399,12.722,13.754,...,1899.775,21.4,307.846,1.82,1.600,30.700,36.791,1.700,61.49,0.571

In [15]:
# Drop rows that are not countries by index
filtered_df = filtered_df.drop(index=[20032, 26312, 35175,35768,38038,41046,41830,43158,49280,51192,53658,62166,67717,70117,73798,76623])
filtered_df.head()

,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
554,Afghanistan,153220.0,72.0,80.000,7118.0,2.0,5.000,3846.325,1.807,2.008,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.50,64.83,0.511
1126,Africa,7790394.0,22708.0,29072.286,196278.0,779.0,785.714,5671.985,16.533,21.167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1686,Albania,146387.0,1054.0,838.000,2498.0,3.0,2.571,50953.833,366.872,291.688,...,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795
2246,Algeria,196080.0,506.0,493.429,5269.0,29.0,29.429,4394.774,11.341,11.059,...,13913.839,0.5,278.364,6.73,0.7,30.4,83.741,1.90,76.88,0.748
2800,Andorra,15033.0,1.0,4.286,130.0,NaN,NaN,194340.306,12.928,55.404,...,NaN,NaN,109.135,7.97,29.0,37.8,NaN,NaN,83.73,0.868

In [16]:
# Drop rows that are not countries by index
filtered_df = filtered_df.drop(index=[13609,15349,35989,55411,93004,96145,104726,106600,112811,113399])
filtered_df

,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
554,Afghanistan,153220.0,72.0,80.000,7118.0,2.0,5.000,3846.325,1.807,2.008,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.50,64.83,0.511
1126,Africa,7790394.0,22708.0,29072.286,196278.0,779.0,785.714,5671.985,16.533,21.167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1686,Albania,146387.0,1054.0,838.000,2498.0,3.0,2.571,50953.833,366.872,291.688,...,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795
2246,Algeria,196080.0,506.0,493.429,5269.0,29.0,29.429,4394.774,11.341,11.059,...,13913.839,0.5,278.364,6.73,0.7,30.4,83.741,1.90,76.88,0.748
2800,Andorra,15033.0,1.0,4.286,130.0,NaN,NaN,194340.306,12.928,55.404,...,NaN,NaN,109.135,7.97,29.0,37.8,NaN,NaN,83.73,0.868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112050,Venezuela,334343.0,NaN,984.714,4010.0,NaN,12.286,11647.574,NaN,34.305,...,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06,0.711
112643,Vietnam,462096.0,12607.0,13261.286,11064.0,NaN,292.857,4707.156,128.422,135.087,...,6171.884,2.0,245.465,6.00,1.0,45.9,85.847,2.60,75.40,0.704
113914,Yemen,7869.0,40.0,41.286,1472.0,3.0,6.857,258.079,1.312,1.354,...,1479.147,18.8,495.003,5.35,7.6,29.2,49.542,0.70,66.12,0.470
114452,Zambia,206327.0,182.0,192.857,3602.0,3.0,2.714,10904.854,9.619,10.193,...,3689.251,57.5,234.499,3.94,3.1,24.7,13.938,2.00,63.89,0.584
114988,Zimbabwe,124773.0,192.0,207.571,4419.0,3.0,14.143,8267.399,12.722,13.754,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.70,61.49,0.571

In [17]:
# Drop rows with 'total_cases' are NaN
filtered_df = filtered_df.dropna(subset=['total_cases'])

In [18]:
# Reset the index
filtered_df.reset_index(drop=True, inplace=True)
filtered_df

,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,Afghanistan,153220.0,72.0,80.000,7118.0,2.0,5.000,3846.325,1.807,2.008,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.50,64.83,0.511
1,Africa,7790394.0,22708.0,29072.286,196278.0,779.0,785.714,5671.985,16.533,21.167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,146387.0,1054.0,838.000,2498.0,3.0,2.571,50953.833,366.872,291.688,...,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795
3,Algeria,196080.0,506.0,493.429,5269.0,29.0,29.429,4394.774,11.341,11.059,...,13913.839,0.5,278.364,6.73,0.7,30.4,83.741,1.90,76.88,0.748
4,Andorra,15033.0,1.0,4.286,130.0,NaN,NaN,194340.306,12.928,55.404,...,NaN,NaN,109.135,7.97,29.0,37.8,NaN,NaN,83.73,0.868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Venezuela,334343.0,NaN,984.714,4010.0,NaN,12.286,11647.574,NaN,34.305,...,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06,0.711
190,Vietnam,462096.0,12607.0,13261.286,11064.0,NaN,292.857,4707.156,128.422,135.087,...,6171.884,2.0,245.465,6.00,1.0,45.9,85.847,2.60,75.40,0.704
191,Yemen,7869.0,40.0,41.286,1472.0,3.0,6.857,258.079,1.312,1.354,...,1479.147,18.8,495.003,5.35,7.6,29.2,49.542,0.70,66.12,0.470
192,Zambia,206327.0,182.0,192.857,3602.0,3.0,2.714,10904.854,9.619,10.193,...,3689.251,57.5,234.499,3.94,3.1,24.7,13.938,2.00,63.89,0.584
193,Zimbabwe,124773.0,192.0,207.571,4419.0,3.0,14.143,8267.399,12.722,13.754,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.70,61.49,0.571

In [19]:
filtered_df.nunique()

location                                 194
total_cases                              193
new_cases                                151
new_cases_smoothed                       180
total_deaths                             184
new_deaths                                60
new_deaths_smoothed                      106
total_cases_per_million                  194
new_cases_per_million                    164
new_cases_smoothed_per_million           186
total_deaths_per_million                 189
new_deaths_per_million                   130
new_deaths_smoothed_per_million          158
reproduction_rate                         94
icu_patients                               6
icu_patients_per_million                   6
hosp_patients                              5
hosp_patients_per_million                  5
new_tests                                 79
total_tests                               83
total_tests_per_thousand                  83
new_tests_per_thousand                    78
new_tests_smoothed                        90
new_tests_smoothed_per_thousand           89
positive_rate                             74
tests_per_case                            85
tests_units                                4
total_vaccinations                       114
people_vaccinated                        109
people_fully_vaccinated                  108
total_boosters                            10
new_vaccinations                          85
new_vaccinations_smoothed                159
total_vaccinations_per_hundred           114
people_vaccinated_per_hundred            109
people_fully_vaccinated_per_hundred      105
total_boosters_per_hundred                10
new_vaccinations_smoothed_per_million    158
stringency_index                          64
population                               194
population_density                       187
median_age                               129
aged_65_older                            178
aged_70_older                            176
gdp_per_capita                           183
extreme_poverty                           74
cardiovasc_death_rate                    183
diabetes_prevalence                      136
female_smokers                           108
male_smokers                             124
handwashing_facilities                    94
hospital_beds_per_thousand                99
life_expectancy                          178
human_development_index                  151
dtype: int64

In [22]:
#Removing columns that are based on date 
final_df = filtered_df.drop(['total_boosters','new_vaccinations_smoothed','new_vaccinations','tests_units','stringency_index','new_tests_smoothed','total_boosters_per_hundred','new_tests_smoothed_per_thousand','positive_rate','tests_per_case','new_tests','total_tests','total_tests_per_thousand','new_tests_per_thousand','new_cases_per_million','new_cases_smoothed_per_million','new_deaths_per_million','new_deaths_smoothed_per_million','new_cases','new_cases_smoothed','new_deaths','new_deaths_smoothed','icu_patients','human_development_index','icu_patients_per_million','hosp_patients','hosp_patients_per_million','new_vaccinations_smoothed_per_million'],axis = 1)

In [23]:
final_df

,location,total_cases,total_deaths,total_cases_per_million,total_deaths_per_million,reproduction_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_vaccinations_per_hundred,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,Afghanistan,153220.0,7118.0,3846.325,178.685,0.63,1979652.0,773002.0,NaN,4.97,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.50,64.83
1,Africa,7790394.0,196278.0,5671.985,142.905,NaN,103848842.0,68875046.0,38421883.0,7.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,146387.0,2498.0,50953.833,869.494,1.28,1472316.0,830396.0,641920.0,51.25,...,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57
3,Algeria,196080.0,5269.0,4394.774,118.095,0.79,NaN,NaN,NaN,NaN,...,3.857,13913.839,0.5,278.364,6.73,0.7,30.4,83.741,1.90,76.88
4,Andorra,15033.0,130.0,194340.306,1680.585,0.71,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,109.135,7.97,29.0,37.8,NaN,NaN,83.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Venezuela,334343.0,4010.0,11647.574,139.697,1.01,NaN,NaN,NaN,NaN,...,3.915,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06
190,Vietnam,462096.0,11064.0,4707.156,112.704,1.10,19966724.0,17347538.0,2619186.0,20.34,...,4.718,6171.884,2.0,245.465,6.00,1.0,45.9,85.847,2.60,75.40
191,Yemen,7869.0,1472.0,258.079,48.277,1.31,NaN,NaN,NaN,NaN,...,1.583,1479.147,18.8,495.003,5.35,7.6,29.2,49.542,0.70,66.12
192,Zambia,206327.0,3602.0,10904.854,190.374,0.72,NaN,NaN,NaN,NaN,...,1.542,3689.251,57.5,234.499,3.94,3.1,24.7,13.938,2.00,63.89
193,Zimbabwe,124773.0,4419.0,8267.399,292.801,0.58,4219824.0,2582405.0,1637419.0,27.96,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.70,61.49

In [ ]:
final_df.to_csv("owid-covid-data_filtered.csv")