In [25]:
# Initial imports
import pandas as pd
import numpy as np
import hvplot.pandas
from path import Path
import os

from sqlalchemy import create_engine
#import psycopg2

import plotly.express as px
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

#from config import db_password
import time

In [26]:
# Bring in the .csv files
main_df = pd.read_csv("resources\csv files\cleaned_data.csv")
main_df.head()

,location,total_cases,total_deaths,total_cases_per_million,total_deaths_per_million,reproduction_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_vaccinations_per_hundred,...,oxford_astrazeneca,pfizer_biontech,qazvac,sinopharm_beijing,sinopharm_hayatvax,sinopharm_wuhan,sinovac,soberana02,sputnik_v,zf2001
0,Afghanistan,153220,7118.0,3846.325,178.685,0.63,1979652.0,773002.0,NaN,4.97,...,1,1,0,1,0,0,0,0,0,0
1,Algeria,196080,5269.0,4394.774,118.095,0.79,NaN,NaN,NaN,NaN,...,1,0,0,1,0,0,0,0,1,0
2,Andorra,15033,130.0,194340.306,1680.585,0.71,NaN,NaN,NaN,NaN,...,1,1,0,0,0,0,0,0,0,0
3,Angola,47544,1217.0,1401.089,35.864,1.08,NaN,NaN,NaN,NaN,...,1,0,0,0,0,0,0,0,0,0
4,Antigua and Barbuda,1715,44.0,17370.959,445.669,1.30,75069.0,41061.0,34008.0,76.04,...,1,0,0,0,0,0,0,0,0,0

In [27]:
# Clean up the files
country_names_df = main_df[["location"]]
country_names_df

                location
0            Afghanistan
1                Algeria
2                Andorra
3                 Angola
4    Antigua and Barbuda
..                   ...
180            Venezuela
181              Vietnam
182                Yemen
183               Zambia
184             Zimbabwe

[185 rows x 1 columns]

In [29]:
final_df = main_df.fillna(0)
final_df.head()

,location,total_cases,total_deaths,total_cases_per_million,total_deaths_per_million,reproduction_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_vaccinations_per_hundred,...,oxford_astrazeneca,pfizer_biontech,qazvac,sinopharm_beijing,sinopharm_hayatvax,sinopharm_wuhan,sinovac,soberana02,sputnik_v,zf2001
0,Afghanistan,153220,7118.0,3846.325,178.685,0.63,1979652.0,773002.0,0.0,4.97,...,1,1,0,1,0,0,0,0,0,0
1,Algeria,196080,5269.0,4394.774,118.095,0.79,0.0,0.0,0.0,0.00,...,1,0,0,1,0,0,0,0,1,0
2,Andorra,15033,130.0,194340.306,1680.585,0.71,0.0,0.0,0.0,0.00,...,1,1,0,0,0,0,0,0,0,0
3,Angola,47544,1217.0,1401.089,35.864,1.08,0.0,0.0,0.0,0.00,...,1,0,0,0,0,0,0,0,0,0
4,Antigua and Barbuda,1715,44.0,17370.959,445.669,1.30,75069.0,41061.0,34008.0,76.04,...,1,0,0,0,0,0,0,0,0,0

In [30]:
final_df.drop(columns=["location"], inplace=True)
final_df

,total_cases,total_deaths,total_cases_per_million,total_deaths_per_million,reproduction_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_vaccinations_per_hundred,people_vaccinated_per_hundred,...,oxford_astrazeneca,pfizer_biontech,qazvac,sinopharm_beijing,sinopharm_hayatvax,sinopharm_wuhan,sinovac,soberana02,sputnik_v,zf2001
0,153220,7118.0,3846.325,178.685,0.63,1979652.0,773002.0,0.0,4.97,1.94,...,1,1,0,1,0,0,0,0,0,0
1,196080,5269.0,4394.774,118.095,0.79,0.0,0.0,0.0,0.00,0.00,...,1,0,0,1,0,0,0,0,1,0
2,15033,130.0,194340.306,1680.585,0.71,0.0,0.0,0.0,0.00,0.00,...,1,1,0,0,0,0,0,0,0,0
3,47544,1217.0,1401.089,35.864,1.08,0.0,0.0,0.0,0.00,0.00,...,1,0,0,0,0,0,0,0,0,0
4,1715,44.0,17370.959,445.669,1.30,75069.0,41061.0,34008.0,76.04,41.59,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,334343,4010.0,11647.574,139.697,1.01,0.0,0.0,0.0,0.00,0.00,...,0,0,0,1,0,1,0,0,1,0
181,462096,11064.0,4707.156,112.704,1.10,19966724.0,17347538.0,2619186.0,20.34,17.67,...,1,1,0,1,0,0,0,0,1,0
182,7869,1472.0,258.079,48.277,1.31,0.0,0.0,0.0,0.00,0.00,...,1,0,0,0,0,0,0,0,0,0
183,206327,3602.0,10904.854,190.374,0.72,0.0,0.0,0.0,0.00,0.00,...,1,0,0,1,0,0,0,0,0,0
184,124773,4419.0,8267.399,292.801,0.58,4219824.0,2582405.0,1637419.0,27.96,17.11,...,1,0,0,1,0,0,1,0,1,0

In [31]:
# Database engine connection

    #db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/CovidDB"

    #engine = create_engine(db_string)

    # vaccination_df.to_sql(name='', con=engine, if_exists='replace')

In [32]:
# Drop columns that wont be used in clustering algorithm

In [33]:
# Import rating data to sql using chunksize param
    # create a variable for the number of rows imported
    #rows_imported = 0
    # Create start time variable
    #start_time = time.time()
    #for data in pd.read_csv(f'{file_dir}/*insert_here*.csv', chunksize=1000000):    
        #print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
        #data.to_sql(name='ratings', con=engine, if_exists='append')
        #rows_imported += len(data)
        
        # add elapsed time to final print out
        #print(f'Done. {time.time() - start_time} total seconds elapsed')

In [34]:
# Standardize the data with StandardScaler().
vaccine_scaled = StandardScaler().fit_transform(final_df)
vaccine_scaled

array([[-0.24557289, -0.22194483, -0.88489317, ..., -0.07372098,
        -0.59191635, -0.10454167],
       [-0.23528106, -0.24566957, -0.87282577, ..., -0.07372098,
         1.68942791, -0.10454167],
       [-0.27875525, -0.31160868,  3.30650195, ..., -0.07372098,
        -0.59191635, -0.10454167],
       ...,
       [-0.28047552, -0.29438932, -0.96384452, ..., -0.07372098,
        -0.59191635, -0.10454167],
       [-0.23282049, -0.26705904, -0.72958598, ..., -0.07372098,
        -0.59191635, -0.10454167],
       [-0.25240377, -0.25657602, -0.7876173 , ..., -0.07372098,
         1.68942791, -0.10454167]])

In [35]:
# Using PCA to reduce dimension to three principal components.
pca = PCA(n_components=3)
vaccine_pca = pca.fit_transform(vaccine_scaled)
vaccine_pca

array([[-3.18296070e+00, -3.72957480e-02, -7.47337231e-02],
       [-2.15629301e+00,  3.99371441e-02,  1.06208031e+00],
       [-3.82326431e-01, -9.45000153e-01, -7.75498806e-01],
       [-3.38042649e+00, -2.38381510e-01, -9.11768670e-01],
       [ 7.72532924e-02, -7.96764009e-01, -7.47010535e-02],
       [ 2.73745528e+00,  1.61499060e+00,  7.45770090e-01],
       [-4.47279496e-01, -1.89610706e-01,  1.47077887e+00],
       [ 2.38459582e+00, -1.00831841e+00, -1.74884643e-01],
       [ 5.41270432e+00, -1.57461393e+00, -2.52099311e-01],
       [-6.22586077e-01,  4.07902696e-02,  1.63856660e+00],
       [-5.31837892e-01, -6.67563115e-01,  1.68725253e-01],
       [ 1.93652541e+00, -7.92948227e-01,  9.30397512e-01],
       [-1.32022110e+00,  6.23209275e-01, -9.02513017e-02],
       [ 1.32669719e-01, -8.21252551e-01,  9.91161922e-01],
       [ 4.69723906e-01, -4.58472892e-01,  2.06767826e+00],
       [ 5.76978422e+00, -1.40642548e+00, -6.97522548e-01],
       [-2.21379230e+00, -2.74256129e-01,  4.05292824e-01],
       [-3.85127727e+00, -2.46046026e-02, -1.13412840e+00],
       [-1.90839218e+00, -4.53460281e-01, -1.09538261e-01],
       [-5.23755294e-01, -3.09097254e-01, -3.81094610e-01],
       [ 1.63262420e+00, -6.25888393e-01,  1.45865920e+00],
       [-5.74316852e-01, -6.46338003e-01, -2.81284517e-01],
       [ 1.82991362e+00,  4.22682159e+00, -3.16239740e+00],
       [ 1.99012291e-01, -7.07404152e-01,  6.75943271e-01],
       [ 3.52501396e+00, -1.32787281e+00,  1.15946573e-01],
       [-3.73797363e+00, -2.30064128e-01, -1.23575503e+00],
       [-8.11426877e-01,  4.14537193e-02,  1.87347588e-01],
       [-3.80573546e+00, -5.40063276e-02, -7.47253601e-01],
       [ 4.33727093e+00, -3.75527374e-01, -7.84707361e-01],
       [-4.51040457e-01, -9.17231772e-01, -7.84725403e-01],
       [-4.16170350e+00,  8.50580030e-01, -9.88564849e-01],
       [-4.27907354e+00,  6.50529985e-02, -7.67964803e-01],
       [ 3.98972868e+00,  4.55753055e-01,  1.04799732e+00],
       [ 5.72019139e-01,  1.17162769e+01,  1.36846657e+01],
       [ 1.95844597e+00,  8.22833586e-01, -1.38624737e+00],
       [-3.31170098e+00,  7.66343339e-01, -2.36462939e-01],
       [-3.23885836e+00,  9.02821604e-02,  2.58723143e-01],
       [-4.43575339e-02, -7.83845341e-01, -1.03063131e-01],
       [-3.66651361e+00, -2.35894658e-01, -1.27236583e+00],
       [ 3.09937233e+00, -1.45703410e+00,  3.01997428e-02],
       [ 2.50699490e+00, -9.34031285e-01,  4.29844583e+00],
       [ 2.32683705e+00, -1.27668470e+00, -7.98604693e-02],
       [ 5.57493834e+00, -1.35961904e+00, -4.07670256e-01],
       [-4.29126429e+00,  8.97576378e-02, -1.58010006e+00],
       [ 4.93687983e+00, -1.35371560e+00, -2.52199330e-01],
       [-2.29174672e+00, -1.72665474e-01,  1.32022696e-01],
       [-2.75455125e+00, -4.21969065e-01, -2.61277024e-01],
       [ 1.94578843e-01, -3.68909266e-01,  5.29131425e-01],
       [ 7.07431979e-01, -1.38291139e-01, -3.72543404e-01],
       [-1.82160020e+00,  5.31459680e-01,  2.04636960e+00],
       [ 4.91349795e-02, -4.45335759e-01,  1.18897854e-01],
       [-2.81000693e+00, -2.16488210e-01, -2.03634932e-02],
       [ 4.38724037e+00, -1.65544974e+00, -1.85393345e-01],
       [-2.69379165e+00, -3.63271387e-01, -5.94724252e-01],
       [-3.19884579e+00,  7.20772200e-02, -1.04088018e+00],
       [-1.73300725e-01, -5.46071572e-01,  3.64543518e-01],
       [ 4.05838416e+00, -1.45341749e+00, -1.61348520e-01],
       [ 6.24707807e+00,  8.24691396e-01, -1.63469988e+00],
       [-2.11533437e+00, -3.56011823e-01,  3.14361110e-01],
       [-3.59159796e+00, -2.17305289e-01, -3.87369686e-01],
       [ 1.02152255e+00, -6.06809138e-01,  1.15236085e+00],
       [ 6.41050159e+00,  7.70454920e-01, -1.00180936e+00],
       [-3.19050467e+00, -5.66331879e-02, -2.48627112e-01],
       [ 5.09247025e+00, -1.40948102e+00, -2.58894709e-01],
       [-5.61074801e-01, -1.05165595e+00, -1.52501594e-01],
       [-1.50923776e+00, -3.07898204e-01, -7.56531660e-01],
       [-3.65531922e+00,  9.42908633e-02, -5.49787859e-01],
       [-4.51581502e+00, -1.41289367e-01, -1.24943515e+00],
       [-1.48873435e+00, -2.58141203e-01,  4.28919687e-01],
       [-2.88176964e+00, -2.63775512e-01, -6.48735740e-01],
       [-1.34573167e+00, -3.92973718e-01, -6.38682150e-01],
       [ 2.38177751e+00, -7.92741274e-01,  1.52847311e-01],
       [ 4.26723961e+00, -1.07483792e+00,  6.22053427e-01],
       [ 4.08047057e+00, -1.59120049e+00, -5.89836359e-01],
       [ 1.76766069e+00,  1.83695525e+01, -5.16656811e+00],
       [-2.49595038e-02,  2.90722076e+00,  4.43097712e-02],
       [-1.44611440e+00,  2.36713550e+00, -5.84673046e-02],
       [-2.30980352e+00,  1.13685268e-01,  1.93148569e-01],
       [ 4.73829146e+00, -1.58502347e+00, -6.75128467e-01],
       [ 3.96827658e+00, -1.06186841e+00, -1.09744170e-01],
       [ 6.08766042e+00,  5.78269424e-01, -1.62366325e+00],
       [ 2.68068741e-01, -8.01551278e-01, -2.40086644e-01],
       [ 5.78309044e+00,  7.79806603e-01, -3.09953043e-01],
       [-6.08998076e-01, -3.05523083e-01,  7.11298409e-02],
       [ 1.55263892e-01,  1.43672097e-01,  6.17054091e+00],
       [-3.21809606e+00,  8.07759029e-02, -5.99972128e-01],
       [-4.25825391e+00, -4.84224305e-01, -3.16626260e+00],
       [ 8.74002941e-02, -5.31025221e-01,  4.79598673e-01],
       [-2.00064209e+00,  1.69368069e-01,  1.80547026e+00],
       [-1.47286545e+00, -3.42263547e-02,  7.15113553e-01],
       [ 4.24141819e+00, -1.58158547e+00,  1.05454527e-01],
       [ 7.83949852e-01, -6.03547838e-01,  9.15741605e-01],
       [-3.76662365e+00, -7.49513826e-02, -8.51609640e-01],
       [-3.67098878e+00, -2.33075239e-01, -1.23511411e+00],
       [-8.71789319e-01, -2.87971274e-01,  4.79583166e-01],
       [ 8.05410011e-01, -9.47779465e-01, -1.00847175e+00],
       [ 4.79089565e+00, -1.63623645e+00, -1.04641549e-01],
       [ 5.17452305e+00, -1.88668537e+00, -4.84916622e-01],
       [-4.28245944e+00, -4.04796011e-02, -1.29127317e+00],
       [-3.40611184e+00, -1.99231014e-01, -1.64536612e+00],
       [ 1.44202528e+00,  1.11828521e+00,  1.63671076e+00],
       [ 1.08315935e+00, -8.58653462e-01,  6.22980665e-01],
       [-3.53990211e+00, -2.22384692e-01, -7.67263662e-01],
       [ 5.12138781e+00, -1.72540084e+00, -1.76634500e-01],
       [-3.47468794e+00, -2.79154333e-01, -7.55504425e-01],
       [-8.25456929e-01,  5.05989122e-01,  1.08249555e+00],
       [ 1.95893718e+00,  3.57216511e+00,  1.32485975e-01],
       [ 2.96636816e-01, -5.41172853e-01,  1.20944318e+00],
       [-1.66951147e+00, -1.09909649e+00, -1.03342586e+00],
       [ 6.10844054e-01, -5.85057015e-01,  1.37068269e+00],
       [ 3.09571802e+00, -1.16873593e+00,  1.16052009e+00],
       [-4.31529053e-01,  2.67932502e-01,  3.66049620e-01],
       [-4.11255653e+00, -1.70481250e-02, -8.77177142e-01],
       [-2.50837400e+00,  1.25513254e-01,  4.38631221e-01],
       [-2.49316409e+00, -3.17394915e-01, -3.01289917e-01],
       [-1.90632820e+00, -6.84681358e-03, -1.46467598e-02],
       [ 3.31717328e+00, -1.28508371e+00, -6.00439174e-01],
       [ 2.20719617e+00, -1.07124597e+00,  3.21351921e-01],
       [-2.43422026e+00, -1.22538849e-01, -1.75927452e-01],
       [-4.17453566e+00, -1.44416396e-01, -1.09565278e+00],
       [-3.35582671e+00,  3.40206470e-01, -9.23535654e-01],
       [ 1.03513969e+00, -5.53525617e-01,  8.48844419e-01],
       [ 4.33347379e+00, -1.39583346e+00,  7.57506332e-02],
       [-1.14936899e+00, -1.12888829e-01,  1.03354772e+00],
       [-1.56216477e+00,  3.49565310e+00,  1.70019118e+00],
       [-9.19915530e-01, -5.51041003e-01, -4.65677021e-01],
       [ 1.50303748e+00, -9.77323968e-01, -6.34361587e-01],
       [-2.46494004e+00, -4.13401803e-02,  7.39991987e-01],
       [-7.31318847e-02,  7.59773383e-01,  3.61473117e-01],
       [ 1.39820348e+00,  4.37862993e-01, -1.70160866e+00],
       [-5.56809339e-01,  6.80227297e-01,  3.89888161e-01],
       [ 4.61947361e+00, -3.52891818e-01, -8.12576867e-01],
       [ 5.58307895e+00, -1.28838941e+00, -5.15100805e-01],
       [ 3.12517087e+00, -9.69180490e-01,  3.36257314e-01],
       [ 3.50065282e+00, -9.88861801e-01, -4.03116966e-02],
       [ 2.82367457e+00,  3.13079375e+00,  4.78750353e-01],
       [-2.45666434e+00, -5.28023033e-01, -1.59205762e+00],
       [-2.03612927e+00, -6.44744345e-01, -9.24433260e-01],
       [-1.13667725e+00, -5.87605136e-01,  7.44234153e-02],
       [-1.57831178e+00, -5.42838265e-01, -1.72707931e-01],
       [-1.10521650e+00, -4.29561565e-01, -1.30708599e-02],
       [-1.28341694e+00, -6.50299003e-01, -1.06975628e+00],
       [-3.04612993e+00, -4.59832606e-01, -9.51215325e-01],
       [ 9.63620296e-01,  1.66786278e-02,  1.38915251e-01],
       [-3.80544366e+00, -1.22621384e-01, -8.43123058e-01],
       [ 7.34822370e-01, -6.40240192e-01,  1.74234856e+00],
       [ 1.14505598e-01, -8.24159176e-01,  5.33007539e-01],
       [-4.12993056e+00, -8.05710096e-02, -7.61975425e-01],
       [ 4.31645746e+00, -1.17593798e+00,  6.20377420e-01],
       [ 3.62012338e+00, -1.33912354e+00,  3.33171530e-02],
       [ 4.05827485e+00, -1.56590374e+00, -7.24638138e-03],
       [-3.50679808e+00,  8.37242378e-02,  3.47045220e-01],
       [-4.18572149e+00,  2.89182544e-02, -6.56589051e-01],
       [-3.21505989e-01,  4.37548896e-01, -8.86715025e-01],
       [ 3.74822741e+00, -6.58984797e-01,  4.88797857e-02],
       [-3.47429352e+00, -2.15763182e-01, -8.50199011e-01],
       [ 6.11472700e+00,  2.36553716e-01, -1.40472275e+00],
       [ 1.17277793e+00, -3.14637495e-01,  4.79159006e-01],
       [-2.90909166e+00,  1.33396957e-01,  2.87379118e-01],
       [-1.11508412e-01, -6.17994310e-01,  4.85537664e-01],
       [ 4.80563502e+00, -1.39782648e+00, -5.98826238e-01],
       [ 4.95160206e+00, -1.32209525e+00,  6.57309460e-02],
       [-3.22343169e+00,  7.49338093e-02,  3.66250945e-01],
       [-1.71568214e+00, -6.49971809e-01, -2.50043095e+00],
       [-2.00512341e+00, -1.74214220e-01,  1.83481308e-01],
       [-3.33972906e+00,  1.92264234e-01, -8.21982404e-01],
       [-7.14920737e-01, -3.81947727e-02,  6.46588405e-01],
       [-1.64636948e+00, -2.17467847e-01,  6.44820648e-01],
       [-3.67197536e+00, -2.44601180e-01, -1.16306054e+00],
       [-2.43232503e-01, -5.99223042e-01,  5.09013655e-01],
       [ 5.17770043e-02, -7.62136250e-02,  1.22756042e+00],
       [ 2.51812466e+00,  1.70352197e+00, -1.48277989e-01],
       [-3.76144355e+00, -6.10214803e-02, -1.30370445e+00],
       [ 1.97755601e+00, -2.54241015e-01,  7.44154094e-01],
       [ 2.52458426e-01,  8.08509796e-01,  4.24449103e+00],
       [ 5.44807146e+00,  1.09686039e+00, -1.78669442e+00],
       [ 8.10060894e+00,  1.18341918e+01, -6.44628820e+00],
       [ 3.50735017e+00, -1.15078744e+00, -4.83019840e-02],
       [-2.52785212e+00,  1.55982169e+00,  4.44608331e+00],
       [-3.35969780e+00,  5.87851818e-02,  6.16894191e-01],
       [-2.11321681e+00,  1.07158892e+00,  3.10644249e+00],
       [-6.98414342e-01,  1.81887941e-01,  8.38908359e-01],
       [-3.05402838e+00, -1.87478808e-01, -4.36451877e-01],
       [-3.64996166e+00, -1.34933812e-01, -8.27276129e-01],
       [-3.17508224e+00,  2.63318532e-01,  3.60930093e-01]])

In [36]:
# Create a DataFrame with the three principal components.
pcs_df = pd.DataFrame(
    data=vaccine_pca, columns=['PC 1', 'PC 2', 'PC 3'], index=final_df.index)
pcs_df.head(10)

       PC 1      PC 2      PC 3
0 -3.182961 -0.037296 -0.074734
1 -2.156293  0.039937  1.062080
2 -0.382326 -0.945000 -0.775499
3 -3.380426 -0.238382 -0.911769
4  0.077253 -0.796764 -0.074701
5  2.737455  1.614991  0.745770
6 -0.447279 -0.189611  1.470779
7  2.384596 -1.008318 -0.174885
8  5.412704 -1.574614 -0.252099
9 -0.622586  0.040790  1.638567

In [37]:
# Create an elbow curve to find the best value for K.
inertia = []
k = list(range(1, 11))

# Calculate the inertia for the range of K values
for i in k:
    km = KMeans(n_clusters=i, random_state=0)
    km.fit(pcs_df)
    inertia.append(km.inertia_)

# Create the elbow curve
elbow_data = {"k": k, "inertia": inertia}
vaccine_elbow_df = pd.DataFrame(elbow_data)
vaccine_elbow_df.hvplot.line(x="k", y="inertia", xticks=k, title="Vaccine Elbow Curve")

C:\Users\leadr\anaconda3\envs\mlenv\lib\site-packages\sklearn\cluster\_kmeans.py:882: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  f"KMeans is known to have a memory leak on Windows "

:Curve   [k]   (inertia)

In [38]:
# Initialize the K-Means model. Change cluster number as found in step above.
model = KMeans(n_clusters=5, random_state=0)

# Fit the model
model.fit(pcs_df)

# Predict clusters
predictions = model.predict(pcs_df)
print(predictions)

[1 1 4 1 4 4 4 0 0 4 4 4 4 4 4 0 1 1 1 4 4 4 4 4 0 1 4 1 0 4 1 1 0 3 4 1 1
 4 1 0 4 0 0 1 0 1 1 4 4 4 4 1 0 1 1 4 0 0 1 1 4 0 1 0 4 1 1 1 4 1 1 0 0 0
 2 4 4 1 0 0 0 4 0 4 4 1 1 4 4 4 0 4 1 1 4 4 0 0 1 1 4 4 1 0 1 4 4 4 1 4 0
 4 1 1 1 1 0 0 1 1 1 4 0 4 4 4 4 1 4 4 4 0 0 0 0 4 1 1 4 1 4 1 1 4 1 4 4 1
 0 0 0 1 1 4 0 1 0 4 1 4 0 0 1 1 1 1 4 4 1 4 4 4 1 4 4 0 2 0 4 1 4 4 1 1 1]

In [44]:
# Create a new DataFrame including predicted clusters and vaccine features.
clustered_df = pd.DataFrame({
    "location": country_names_df["location"],
    "total_cases": final_df["total_cases"],
    "total_deaths": final_df["total_deaths"],
    "total_cases_per_million": final_df["total_cases_per_million"],
    "total_deaths_per_million": final_df["total_deaths_per_million"],
    "reproduction_rate": final_df["reproduction_rate"],
    "total_vaccinations": final_df["total_vaccinations"],
    "people_vaccinated": final_df["people_vaccinated"],
    "people_fully_vaccinated": final_df["people_fully_vaccinated"],
    "total_vaccinations_per_hundred": final_df["total_vaccinations_per_hundred"],
    "people_vaccinated_per_hundred": final_df["people_vaccinated_per_hundred"],
    "people_fully_vaccinated_per_hundred": final_df["people_fully_vaccinated_per_hundred"],
    "population": final_df["population"],
    "population_density": final_df["population_density"],
    "median_age": final_df["median_age"],
    "aged_65_older": final_df["aged_65_older"],
    "aged_70_older": final_df["aged_70_older"],
    "gdp_per_capita": final_df["gdp_per_capita"],
    "extreme_poverty": final_df["extreme_poverty"],
    "cardiovasc_death_rate": final_df["cardiovasc_death_rate"],
    "diabetes_prevalence": final_df["diabetes_prevalence"],
    "female_smokers": final_df["female_smokers"],
    "male_smokers": final_df["male_smokers"],
    "handwashing_facilities": final_df["handwashing_facilities"],
    "hospital_beds_per_thousand": final_df["hospital_beds_per_thousand"],
    "life_expectancy": final_df["life_expectancy"],
    "human_development_index": final_df["human_development_index"],
    "abdala": final_df["abdala"],
    "coviran_barekat": final_df["coviran_barekat"],
    "cansino": final_df["cansino"],
    "covaxin": final_df["covaxin"],
    "epivaccorona": final_df["epivaccorona"],
    "johnson_johnson": final_df["johnson_johnson"],
    "medigen": final_df["medigen"],
    "moderna": final_df["moderna"],
    "oxford_astrazeneca": final_df["oxford_astrazeneca"],
    "pfizer_biontech": final_df["pfizer_biontech"],
    "qazvac": final_df["qazvac"],
    "sinopharm_beijing": final_df["sinopharm_beijing"],
    "sinopharm_hayatvax": final_df["sinopharm_hayatvax"],
    "sinopharm_wuhan": final_df["sinopharm_wuhan"],
    "sinovac": final_df["sinovac"],
    "soberana02": final_df["soberana02"],
    "sputnik_v": final_df["sputnik_v"],
    "zf2001": final_df["zf2001"],
    "PC 1": pcs_df["PC 1"],
    "PC 2": pcs_df["PC 2"],
    "PC 3": pcs_df["PC 3"],
    "Class": predictions
    }
)

# Print the shape of the clustered_df
print(clustered_df.shape)
clustered_df.head(10)

(185, 49)

,location,total_cases,total_deaths,total_cases_per_million,total_deaths_per_million,reproduction_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_vaccinations_per_hundred,...,sinopharm_hayatvax,sinopharm_wuhan,sinovac,soberana02,sputnik_v,zf2001,PC 1,PC 2,PC 3,Class
0,Afghanistan,153220,7118.0,3846.325,178.685,0.63,1979652.0,773002.0,0.0,4.97,...,0,0,0,0,0,0,-3.182961,-0.037296,-0.074734,1
1,Algeria,196080,5269.0,4394.774,118.095,0.79,0.0,0.0,0.0,0.00,...,0,0,0,0,1,0,-2.156293,0.039937,1.062080,1
2,Andorra,15033,130.0,194340.306,1680.585,0.71,0.0,0.0,0.0,0.00,...,0,0,0,0,0,0,-0.382326,-0.945000,-0.775499,4
3,Angola,47544,1217.0,1401.089,35.864,1.08,0.0,0.0,0.0,0.00,...,0,0,0,0,0,0,-3.380426,-0.238382,-0.911769,1
4,Antigua and Barbuda,1715,44.0,17370.959,445.669,1.30,75069.0,41061.0,34008.0,76.04,...,0,0,0,0,0,0,0.077253,-0.796764,-0.074701,4
5,Argentina,5185620,111812.0,113705.217,2451.704,0.76,42260571.0,27873340.0,14387231.0,92.66,...,0,0,0,0,1,0,2.737455,1.614991,0.745770,4
6,Armenia,242135,4844.0,81578.355,1632.005,1.10,0.0,0.0,0.0,0.00,...,0,0,1,0,1,0,-0.447279,-0.189611,1.470779,4
7,Australia,55093,1012.0,2136.363,39.243,1.39,19362666.0,12192256.0,7170410.0,75.08,...,0,0,0,0,0,0,2.384596,-1.008318,-0.174885,0
8,Austria,688305,10772.0,76114.068,1191.188,1.18,10462919.0,5508966.0,5210007.0,115.70,...,0,0,0,0,0,0,5.412704,-1.574614,-0.252099,0
9,Azerbaijan,424891,5636.0,41560.863,551.287,1.07,6805740.0,4113716.0,2692024.0,66.57,...,0,0,1,0,1,0,-0.622586,0.040790,1.638567,4